{
  "app_id": "",
  "subdomain": "",
  "username": "",
  "profile": "default",
  "duration": 3600,
  "aws_region": "",
  "aws_account_id": "",
  "aws_role_name": "",
  "profiles": {
    "default": {
      "aws_account_id": "",
      "aws_role_name": "",
      "aws_region": ""
    }
  }
}
