boto3
botocore
certifi
charset-normalizer
defusedxml
idna
jmespath
lxml
onelogin>=2.0
PyQt3D
PyQt5
PyQt5-sip
PyQtChart
PyQtDataVisualization
PyQtNetworkAuth
PyQtPurchasing
PyQtWebEngine
python-dateutil
PyYAML
QScintilla
requests
s3transfer
six
TBB
urllib3
